---
layout: newhome
author_profile: false
sidebar: false
sidebar_main: true
---

<main class="page-content" aria-label="Content">
    <div class="wrapper">

        <div class="container intro-container">
            <h3 id="about-me">About Me</h3>
            <div class="row clearfix">
                <div align="center" class="col-xs-12 col-sm-4 col-md-3 no-print">
                    <img src="/assets/images/증명사진.jpg" style="padding-bottom:40px" width="150px" alt="banner image">
                    {% comment %} <span class="profile-img" style="background-image: url(/assets/images/증명사진.jpg)"></span> {% endcomment %}
                </div>
                <div class="col-xs-12 col-sm-8 col-md-9 col-print-12">
                    <h2>
                        <strong>Jeongwan On(온 정 완)</strong>
                        <a href="https://github.com/On-JungWoan/On-jungWoan/blob/main/%5BCV%5D%EC%98%A8%EC%A0%95%EC%99%84_%EC%A0%84%EB%82%A8%EB%8C%80_old.pdf" target="_blank">
                            [CV]
                        </a>
                        <a href="/TIL/" target="_blank">
                            [TIL]
                        </a>
                    </h2>

                    <br>

                    <p><mark>B.S. Students.</mark></p>

                    <p>Vision & Learning Lab at UNIST,</p>

                    <p>Major in Statistics at Chonnam National University,</p>

                    <br>

                    <p>Contact : slalghsrm1@gmail.com</p>
                    <!-- <p>전남대학교에서 <mark>통계학</mark>과 <mark>소프트웨어 공학</mark>을 공부하고 있는 온정완입니다.</p>

                    <p>
                    전공 지식을 살려 다양한 프로젝트를 기획해보고 있으며, <mark>컴퓨터 비전/머신러닝</mark>과 <mark>웹 개발</mark>을 중심적으로 공부하고 있습니다. 
                    사회 발전에 기여할 수 있는 개발자로 성장하고자, <strong>광주 광역시의 실시간 버스 수요를 예측</strong>하는 프로젝트를 진행하고 있습니다.<br>
                    </p>
                    <p>
                    모델 개발부터 웹 구축까지 모두 <strong>1인 개발</strong>한 프로젝트이며, 단발성에 그치지 않고 꾸준히 코드 개선에 힘쓰고 있습니다. 
                    서버와 DB를 구축하고, 광주광역시 대중교통과에 제안을 신청하는 등 <strong>실제로 프로젝트가 사용</strong>될 수 있도록 계속 노력하고 있습니다.<br>
                    </p>

                    <p>항상 배우고자 하는 자세로 해당 기술들을 더 고도화하여, <mark>사회에 도움이 되는 개발자</mark>로 도약하고자 합니다. </p> -->
                </div>
            </div>
        </div>

        <br><br>
        
        {%- include portpolio/education.html -%}<br><br>
        {%- include portpolio/experience.html -%}<br><br>
        {%- include portpolio/projects.html -%}<br><br>
        {%- include portpolio/activity.html -%} <br><br>
        {%- include portpolio/award.html -%}<br><br>
        {%- include portpolio/certificant.html -%}<br><br>
    </div>

    <div class="container education-container">
        <h3 style="text-align:center;">Recent Posts </h3>

        <div class="posts">
            {% for post in paginator.posts limit:8 %}
                {% include recent-posts.html type="grid" %}
            {% endfor %}
        </div>

    </div>
</main>    
