{% capture onnx_description %}
* <a href="https://github.com/PINTO0309/onnx2tf/pull/296" target="_blank">**Add a new parameter** called —custom_input_op_name_np_data_path(cind), in PR #296</a>
* <a href="https://github.com/PINTO0309/onnx2tf/pull/307" target="_blank">**Add additional information** about the -cind option to the README, in PR #307</a>
* **Raise some issues**, in Issue 
<a href="https://github.com/PINTO0309/onnx2tf/issues/290" target="_blank">#290</a>, 
<a href="https://github.com/PINTO0309/onnx2tf/issues/282" target="_blank">#282</a>, 
<a href="https://github.com/PINTO0309/onnx2tf/issues/275" target="_blank">#275</a>,
<a href="https://github.com/PINTO0309/onnx2tf/issues/308" target="_blank">#308</a>
{% endcapture %}

{% capture nobuco_description %}
* <a href="https://github.com/AlexanderLutsenko/nobuco/pull/5" target="_blank">**Add the sin and cos operators**, in PR #5</a>
* <a href="https://github.com/AlexanderLutsenko/nobuco/pull/7" target="_blank">**Add new implementation** of the prelu, in PR #7</a>
{% endcapture %}


<div class="container education-container">
  <h3>{{ site.projects_title | default: "Open Source" }}</h3>

  <hr>

  <div class="row clearfix layout layout-left">
      <div class="col-xs-12 col-sm-4 col-md-3 col-print-12 details">
        <h4>onnx2tf</h4>
        <p class="link"><a href="https://github.com/pinto0309/onnx2tf" target="_blank">https://github.com/onnx2tf</a></p>
        <p style="padding-top:10px"><b>Contributor / Sponsor</b></p>
      </div>
      <div class="col-xs-12 col-print-12"> 
        <p class="quote-left">Self-Created Tools to convert ONNX files (NCHW) to TensorFlow/TFLite/Keras format (NHWC).</p>
        {{ onnx_description | strip | markdownify }} 
      </div>
  </div>

  <div class="row clearfix layout layout-left">
    <div class="col-xs-12 col-sm-4 col-md-3 col-print-12 details">
      <h4>nobuco</h4>
      <p class="link"><a href="https://github.com/AlexanderLutsenko/nobuco" target="_blank">https://github.com/nobuco</a></p>
      <p style="padding-top:10px"><b>Contributor</b></p>
    </div>
    <div class="col-xs-12 col-print-12"> 
      <p class="quote-left">Pytorch to Tensorflow conversion made somewhat easy.</p>
      {{ nobuco_description | strip | markdownify }} 
    </div>
  </div>

  <hr>
</div>
