{% capture prj_description %}
* Real-time obj detection을 통한 정류장 인원 파악
* TensorRT/CUDA STREAM를 이용한 SSD Net 최적화 (Inference Time 24배 개선)
* LGBM 기반 버스 탑승수요 예측 모델 개발 및 최적화 (Error 20% 감소 및 모델 경량화)
* 깃허브 링크 : <a href="https://github.com/On-JungWoan/Bbeojung.kr#readme" target="_blank">https://github.com/On-JungWoan/Bbeojung.kr#readme</a>
{% endcapture %}

<div class="container education-container">
  <h3>{{ site.projects_title | default: "Projects" }}</h3>

  <hr>

  <div class="row clearfix layout layout-left">
      <div class="col-xs-12 col-sm-4 col-md-3 col-print-12 details">
        <h4>뻐정</h4>
        <p class="link"><a href="https://github.com/On-JungWoan/Bbeojung.kr#readme" target="_blank">Github Link</a></p>
        <p style="padding-top:10px">Jun. 2022 ~ Nov.2022</p>
        <p><b>개발인원 : 1</b></p>
      </div>
      <div class="col-xs-12 col-print-12"> 
        <p class="quote-left">Object Detection, ML을 활용한 버스 혼잡도 예측 모델 및 플랫폼 개발</p>
        {{ prj_description | strip | markdownify }} 
      </div>
  </div>  

  <hr>
</div>
