{% capture icassp_2024 %}
* J. Kim, S. Hong, C. Kim, J. Kim, Y. Tiruneh, **J. On**, J. Song, S. Choi, and S. Baek, "Class-Wise Buffer Management for Incremental Object Detection: An Effective Buffer Training Strategy" in International Conference on Acoustics, Speech, and Signal Processing (**ICASSP**), 2024
{% endcapture %}

{% capture IEIE_2023_sum %}
* J. Kim, S. Hong, J. Kim, **J. On**, C. Kim, Y. Tiruneh, J. Song, S. Choi, S. Beak, "Reducing data imbalancing for Object Detection" in Summer Annual Conference of IEIE, 2023
{% endcapture %}


<div class="container education-container">
  <h3>{{ site.projects_title | default: "Publications" }}</h3>

  <hr>

  <div class="row clearfix layout layout-left">
      <div class="col-xs-12 col-sm-4 col-md-3 col-print-12 details">
        <h4>ICASSP</h4>
        <!-- <p class="link">(under review)</p> -->
        <p><b>2024</b></p>
      </div>
      <div class="col-xs-12 col-print-12"> 
        {{ icassp_2024 | strip | markdownify }} 
      </div>
  </div>

  <div class="row clearfix layout layout-left">
    <div class="col-xs-12 col-sm-4 col-md-3 col-print-12 details">
      <h4>IEIE</h4>
      <p><b>2023</b></p>
    </div>
    <div class="col-xs-12 col-print-12"> 
      {{ IEIE_2023_sum | strip | markdownify }} 
    </div>
  </div>

  <hr>
</div>
