<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "ko" }}">
    <meta property="og:image" content="https://t1.daumcdn.net/cfile/tistory/2237674457FB7EA215">
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
    <style>
        .grid__item .archive__item-title{
            margin-top: 0.5em;
            font-size: 1.5em;
        }
        .grid__item .page__meta, .grid__item .comment__date{
            margin: 0 0 4px;
            font-size: 1.2em;
        }
        .grid__item .archive__item-excerpt{
            display: block;
            font-size: 1.1em;
        }
    </style>

    {%- include_cached portpolio/head.html -%}
<body>
	{% include_cached skip-links.html %}
	{% include_cached masthead.html %}
	
    <!--header-->
    <div class="container header-container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-8 header-left">
                <h1>온정완</h1>
                <h2>AI / WEB 엔지니어</h2>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 header-right">
                <ul class="icons no-print">
                    <li>
                        <a target="_blank" href="https://www.instagram.com/dog_woan" class="button button--sacnite button--round-l">
                            <i class="fab fa-instagram" title="Facebook link"></i>
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="https://github.com/on-jungwoan" class="button button--sacnite button--round-l">
                            <i class="fab fa-github" title="Github link"></i>
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="https://www.youtube.com/slalghsrm1" class="button button--sacnite button--round-l">
                            <i class="fab fa-youtube" title="Youtube link"></i>
                        </a>
                    </li>
                </ul>
                <p>Email: <a href="mailto:slalfpdl16@naver.com" target="_blank">slalfpdl16@naver.com</a></p>
                <p>Phone: <a href="https://on-jungwoan.github.io" target="_blank" class="">+82)10-9882-3782</a></p>
            </div>
        </div>
    </div>
    <!--end header-->    
    
    {{ content }}
    
    {%- include portpolio/footer.html -%}
    {% include scripts.html %}
</body>

</html>
